/*footer start*/
.footer{
  padding: 1rem 0;
  border-top: 1px solid var(--color-black);
  font-size: var(--font-size-20);
  position: relative;
}


.footer::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-bottom: 1px solid black;
  bottom: 0;
}
/*footer end*/