.header{
  padding: 3rem 0;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  background-color:var(--color-background) ;
  z-index: 1;
}

.header::before{
  content: "";
  position: absolute;
  width: 100vw;
  height:100%; 
  border-bottom: 0.1rem solid var(--color-input-border);
  z-index: -1;
  top: 0.1rem;
  background-color: var(--color-background);
}

.navigation{
  transition: 0.4s;
  background-color: var(--color-background);
  
}

.navigation_list{
  display: flex;
  gap: 2rem;
  margin-left: 30px;
}
.navigation_link:link,
.navigation_link:visited
{
  text-decoration: none;
  font-weight: bold;
  transition: .3s;
  text-transform: capitalize;
}



.navigation_link:hover,
.navigation_link:active
{
  text-decoration: underline;
  color: var(--color-text);
}

.container:has(.bio:target) .navigation__bio,
.container:has(.skills:target) .navigation__skills,
.container:has(.media:target) .navigation__media,
.container:has(.projects:target) .navigation__projects,
.container:has(#clint:target) .navigation__clint,
.container:has(.contact:target) .navigation__contact
{
color: var(--color-blue);
text-decoration: underline;
font-weight: bold;
}

.container:has(.media:target) .navigation__media{
  color: var(--color-blue);
text-decoration: underline;
font-weight: bold;
}


.burger-menu__checkbox{
  display: none;
}