/*project start*/

.projects{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 7.4rem;
  row-gap: 7.5rem;
}

.project-pic-tab{
  display: inline-block;
}
.project-img{
  box-shadow: 0 0 .5rem rgba(0,0,0,0.2);
  max-width: 100%;
}

.project-content{
  align-self: center;
}

.project-content p{
  line-height: 1.5;
  
}

.projects__data {
  align-self: center;
}





.project-content-chrome__link,
.project-content-edge__link{
  color: var(--color-darker-blue);
  font-family: var(--font-family-poppins);
  font-weight: 300;
  margin-top: 2.3rem;
  position: relative;
}

.project-content-chrome__link::after{
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-image: url("/images/external-icon.png");
  background-size: contain;
  margin-left: 0.6rem;
}
/*project end*/