@import "./mixins";

/*start contact*/
.contact {
  display: grid;
  align-items: center;
  @include twoColumn($column-gap: 20rem, $row-gap: 0);
}

.contact > div {
  width: 100%;
}

.contact__description {
  font-size: 25px;
  line-height: 1.9;
  width: 100%;
}

.contact__email {
  font-weight: bold;
  margin: 2.5rem 0;
}

.contact__social {
  transition: 0.4s;
  cursor: pointer;
}

.contact__social:hover {
  scale: 1.2;
}

/* --------------- */

.contact__inputs {
  display: flex;
  gap: 3rem;
}

.contact__input {
  border: 0;
  outline: 0;
  border-bottom: 0.1rem solid var(--color-input-border);
  background-color: transparent;
  flex: 1;
}

.contact__texterea {
  width: 100%;
  margin-top: 4rem;
}

.contact__button {
  border: 0;
  background-color: var(--color-link-bg);
  color: var(--color-white);
  padding: 1.7rem 1.8rem;
  font-weight: 400;
  font-size: var(--font-size-24);
  margin-top: 3.4rem;
  border-radius: 4px;
}
/*end contact*/

form:invalid::after {
  content: "*";
  font-size: var(--font-size-20);
  color: var(--color-red);
}

/* form:empty::after{

} */
