html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}


body,
[type=submit] {
  font-size: 1.6rem; /*  لو ضربناها في 10 بتساوي 16 بكسلpx */
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
  border: 0;
  overflow-x: hidden;
}

.container {
  display: grid;
  row-gap: 11rem;
  max-width: calc(var(--container-width) + calc((var(--gutter) * 2)));
  margin: 0 auto;
  padding-inline: var(--gutter);
}

.video-loop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.08;
  z-index: -1;
}

/*global classes*/

.section {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: start;
  position: relative;
}

.section-with-bg {
  padding: 11rem 0;
}

.section-with-bg::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  background-color: var(--color-grey);
  justify-self: center;
  z-index: -1;
}
.h2-headding {
  font-size: var(--font-size-65);
  font-weight: bold;
  margin-bottom: 8.7rem;
  grid-column: 1/-1;
  text-transform: uppercase;
}

.h3__headding {
  font-size: var(--font-size-38);
  font-weight: bold;
  margin-bottom: 2.5rem;
}

html{
  font-size: 62.5%;
}
/*global classes*/
