/*Start css reset*/
*{
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: border-box;
}

a{
  color: inherit;
  display: inline-block;  
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  border:none;
}

ul,ol{
  list-style: none;
}



/*End css reset*/