/*start skills*/

.skills-list{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 5rem;
  // column-gap: 10px;
}

.skills__title{
  font-size: var(--font-size-24);
  font-weight: 600;

}

.skills__item p{
  font-size:var(--font-size-20);
  margin-top: 1rem;
}

.skills__item{
  transition:0.3s;
  user-select: none;
}
.skills__item:hover{
  text-shadow:0 0 0 2px var(--color-green) ;
}

.skills__years {
  display: inline-block;
  font-size: var(--font-size-20);
  margin-top: 1rem;
}

/*end skills*/
