.toggle{
  display: flex;
  gap: 1rem;  
  margin-left: auto;
}

.toggle_title{
  font-weight: 500;
  font-size:1.8rem;
}

.toggle_checkbox{
  display: none;
  
}

.toggle_label{
  display: block;
  position: relative;
  border-radius:1.5rem;
  background-color: black;
  width: 4.5rem;
  height: 2.2rem;
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  transition: 0.3s;

}

.toggle_label::after{
content: "";
width: 1.6rem;
height: 1.6rem;
border-radius: 50%;
display: block;
background-color: white;
position: absolute;
transition: 0.3s;
}


.toggle_checkbox:checked + .toggle_label{
  background-color: var(--color-white);
  
}

.toggle_checkbox:checked + .toggle_label::after{
  background-color: var(--color-green);

transform: translateX(2.1rem)
}

.toggle__checkbox {
  display: none; 
}



















/*start Theme*/
html:has(.toggle_checkbox:checked){
  --color-background:var(--color-black);
  --color-text:var(--color-white);
  --color-box-img:var(--color-green);
  --color-link-bg:var(--color-green);
  --color-grey:#080808;
  --color-input-border:var(--color-white);
  
}
/*end Theme*/

